[user]
  name = Igor Zinovik
  email = {{ .email }}

[alias]
  di = diff
  b = branch
  bra = branch -a
  brv = branch -v
  co = checkout
  ci = commit
  s = status -s
  st = status
  remo = remote -v
  rollback = reset --soft HEAD^
  f1 = log --graph --pretty='%h %C(magenta)%cr %C(yellow)%an %Creset%s'
  mr = !sh -c 'git fetch $1 merge-requests/$2:mr-$1-$2 && git checkout mr-$1-$2' -
  last = log -1
  out = log @{u}..
  in = log ..@{u}
  pr = pull --rebase

[core]
  editor = vim

[color]
  ui = true

[push]
  default = current

[merge]
  tool = vimdiff
  conflictstyle = diff3

[mergetool]
  prompt = false
